<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.revature.Classes.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmissionsHistoryServlet</servlet-name>
        <servlet-class>com.revature.Classes.SubmissionsHistoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmissionsHistoryServlet</servlet-name>
        <url-pattern>/SubmissionsHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmissionsPendingServlet</servlet-name>
        <servlet-class>com.revature.Classes.SubmissionsPendingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmissionsPendingServlet</servlet-name>
        <url-pattern>/SubmissionsPendingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmissionsAllServlet</servlet-name>
        <servlet-class>com.revature.Classes.SubmissionsAllServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmissionsAllServlet</servlet-name>
        <url-pattern>/SubmissionsAllServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewSubmissionServlet</servlet-name>
        <servlet-class>com.revature.Classes.NewSubmissionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewSubmissionServlet</servlet-name>
        <url-pattern>/NewSubmissionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmissionsPendingAll</servlet-name>
        <servlet-class>com.revature.Classes.SubmissionsPendingAll</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmissionsPendingAll</servlet-name>
        <url-pattern>/SubmissionsPendingAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateApprovals</servlet-name>
        <servlet-class>com.revature.Classes.UpdateApprovals</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateApprovals</servlet-name>
        <url-pattern>/UpdateApprovals</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.revature.Classes.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>


</web-app>
